{% extends ':main:app.list.html.twig' %}

{% block actionBar %}
    <a href="{{ path("add_member") }}" class="btn btn-primary add-btn">Add <i class="fa fa-plus"></i></a>
{% endblock %}

{% block table %}
    <tr>
        <th class="number">S/N </th>
        <th>FirstName</th>
        <th>MiddleName</th>
        <th>Surname</th>
        <th>Sex</th>
        <th>Actions</th>
    </tr>

    {% for record in records %}
        <tr {% if loop.index%2 !=0 %} class="odd"{% endif %}>
            <td>{{ loop.index }}</td>
            <td>{{ record.first_name }}</td>
            <td>{{ record.second_name }}</td>
            <td>{{ record.surname }}</td>
            <td>{{ record.sex }}</td>
            <td class="action align-center">
                <a href="{{ path("edit_member",{'memberId':record.member_id}) }}" class="btn btn-yellow" title="Click to edit record"><i class="fa fa-pencil"></i></a>
                <a href="{{ path("delete_member",{'memberId':record.member_id}) }}" class="btn btn-red confirm-delete-modal" title="Click to delete record"><i class="fa fa-trash"></i></a>
                <a href="{{ path("view_beneficiary",{'memberId':record.member_id}) }}" class="btn btn-primary add-btn " title="Click to add record"><i class="fa fa-plus"></i></a>

            </td>
        </tr>
    {% endfor %}

{% endblock %}
