{% extends ':main:app.list.html.twig' %}

{% block actionBar %}
    <a href="{{ path("add_employer_type") }}" class="btn btn-primary add-btn">Add <i class="fa fa-plus"></i></a>
{% endblock %}

{% block table %}
    <tr>
        <th class="number">S/N </th>
        <th>Description</th>
        <th>Actions</th>
    </tr>

    {% for record in records %}
        <tr {% if loop.index%2 !=0 %} class="odd"{% endif %}>
            <td>{{ loop.index }}</td>
            <td>{{ record.description }}</td>
            <td class="action align-center">
                <a href="{{ path("edit_employer_type",{'employerTypeId':record.employer_type_id}) }}" class="btn btn-yellow" title="Click to edit record"><i class="fa fa-pencil"></i></a>
                <a href="{{ path("delete_employer_type",{'employerTypeId':record.employer_type_id}) }}" class="btn btn-red confirm-delete-modal" title="Click to delete record"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
